.env
node_modules
node_modules/
Python

pycache/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

Node/React

node_modules/
dist/
build/
.DS_Store
coverage/
.npm/

Jaseci/Jac

jac_gen/
manifest.json
*.jbc